/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
   
  }
  .custom-font-family{
    font-family: 'Space Grotesk', sans-serif;
    color: rgba(20, 23, 24, 1) ;
    font-weight: bold;
  
  }
  .font-family-inter{
    font-family: 'Inter', sans-serif;
  }
  .navbar.nav-main{
    background-color: rgba(255, 171, 0, 0.64);
    color:black;
  }
  .nav-link {
    padding:0;
    color:rgba(20, 23, 24, 1);
  }
  .hero {
    background-color: rgba(255, 171, 0, 0.64);
  }
  .hero img{
    width:100%
  }
  .custom-text-color{
    color:rgba(255, 171, 0, 1);
  }
  .section-title{
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-size: 2.5rem;
    font-weight: 600
  }
  .card-fix-button {
    position: absolute;
    bottom: 8.99rem;
    left: 50%;
    transform: translate(-50% ,0);
    border-radius: 0.375rem;
    padding: 1rem;
    width: 100%;
  
  }
  .custom-hot-text{
    position: absolute;
    top: 1rem;
    left: 3rem;
    transform: translate(-50% ,0);
    border-radius: 0.375rem;
    padding-left: 1rem;
    background-color: white;
    padding-right: 1rem;
    font-weight: bold;
  }
  
  .custom-fav-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: translate(27% ,0);
    border-radius: 13.375rem;
    padding: 0.31rem;
    background-color: white;
  }
  .new-collection .card-title{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 28px;
    font-weight:medium;
    letter-spacing: -0.6px;
    color: rgba(18, 18, 18, 1);
  }
  .new-collection .btn{
    font-family: 'Inter', sans-serif;
    font-weight:500;
    color: rgba(18, 18, 18, 1);
    padding-left: 0;
    padding-right: 0;
  }
  .close-icon{
    color:white;
  }
  span{
    color: rgba(55, 125, 255, 1);
  }
  .banner-content{
    background-color: rgba(255, 171, 0, 0.4);
  }
  span.num{
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    color:black;
    font-size: 34px;
    font-weight: medium;
    text-align: center;
  }
  .timer .text{
    text-align: center;
  }
  .timer{
    padding: 5px;
  
  }
  .text{
    font-size: 9px;
  }
  .values .card{
    background-color: rgba(243, 245, 247, 1);
    max-width: 18rem;
    max-height: 18rem;
  }
  .gray-color {
    color:rgba(108, 114, 117, 1);
  }
  .footer-gray{
    color:rgba(232, 236, 239, 1);
  }
  .banner2-section
  {
    background-color:#E3E4E3;
  }
  .custom-border-bottom{
    border-bottom: 1px solid rgba(108, 114, 117, 1); /* Adjust border color and thickness as needed */
  }
  
  .custom-border-bottom-y{
    border-bottom: 1px solid rgba(255, 171, 0, 1); /* Adjust border color and thickness as needed */
  }
  /* .bg-img-banner2{
    background-image: url("../public/images/banner.png");
  } */
  .values .card{
    min-width: 152px;
    min-height: 225px;
    border-radius: 0;
  }
  .values .card-title{
   font-size: 0.875rem;
  
  }
  footer li{
    padding: 2rem;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
  }
  footer div p{
    padding: 1.5rem;
    font-size: 0.75rem;
  }
  footer div img{
    padding-right: 1.5rem;
  }
  .form-control:focus{
    box-shadow: none;
  }
  .vertical-line {
    border-left: 1px solid rgba(108, 114, 117, 1);
    margin-top: 2.5rem; /* Change color as needed */
    height: 25px; /* Adjust height of the vertical line */
  }
  
  
  navbar a.btn:hover{
    color:rgba(255, 171, 0, 1);
  }
  .new-collection a.btn:hover{
    color:black;
  }
  .content-lap-mob{
    justify-content: space-between;
  }
  
  .cust-min-width{
    min-height: 175px;
  }
  
  .owl-carousel .owl-nav{
    text-align: center;
    font-size: 4rem; /* Adjust the font size as needed */
  }
  .owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev {
    border:0;
    padding: 2rem;
  }
  
  .owl-carousel .owl-nav button.owl-next:hover,.owl-carousel .owl-nav button.owl-prev:hover {
    color:rgba(35, 38, 47, 1);
    opacity: 0.55;
  }
  .owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev {
    color:rgba(108, 114, 117, 1);
  }
  .owl-carousel .owl-nav button.owl-next span{
    color:rgba(35, 38, 47, 1);
  }
  .owl-carousel .owl-nav button.owl-prev span{
    color:#E3E4E3;
  
  }
  
  
  .new-arrials-carousel .owl-carousel .owl-dots{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: -3rem;
    left: 0rem;
    right: 3rem;
  }
  
  .new-arrials-carousel .owl-carousel button.owl-dot {
    width: 10px; /* Adjust dot width */
    height: 10px; /* Adjust dot height */
    border-radius: 30%; /* Make dots circular */
    background-color: #000; /* Dot color */
    margin: 0 5px; /* Adjust dot spacing */
  }
  
  
  @media screen and (max-width: 767px){
    .content-lap-mob{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2rem;
        text-align: center;
    }
  }
  
  
  @media screen and (max-width: 991px){
    .sideBar{
        background-color: rgba(255, 171, 0, 0.64);
        backdrop-filter: blur(10px);
  
    }
  }
  
  
  
  